   
<div class="groupWrapper">
    <div class="group" *ngFor="let group of dataWorldcup.groups | keys  ; let i = index;">

        <h1 class="groupTitle">GROUP {{getGroupName(i) | uppercase}}</h1>

        <ul class="groupMatchs">
            <li *ngFor="let match of group.matches; let j = index;">
                <p class="groupMatchs_team is-team1">
                    <span class="groupMatchs_teamName">{{getTeamName(match.home_team)}}</span>
                    <span class="flag is-{{getTeamTag(match.home_team)}}"></span>
                    <input type="number" min="0" class="groupMatchs_teamScore" [(ngModel)]="match.home_result" (ngModelChange)="_worldcupService.calculRanking()" (focus)="$event.target.select()"
                    />
                </p>
                <span class="groupMatchs_separator">-</span>
                <p class="groupMatchs_team is-team2">
                        <input type="number" min="0" class="groupMatchs_teamScore" [(ngModel)]="match.away_result" (ngModelChange)="_worldcupService.calculRanking()" (focus)="$event.target.select()"
                        />
                        <span class="flag is-{{getTeamTag(match.away_team)}}"></span>
                    <span class="groupMatchs_teamName">{{getTeamName(match.away_team)}}</span>
                    
                   
                    
                </p>
            </li>
        </ul>


        <div class="groupRanking">
            <ul class="groupRanking_labels">
                <li>Classement</li>
                <li>Pts</li>
                <li>Diff.</li>
            </ul>
            <ul class="groupRanking_table">

                <li [attr.data-teamid]="team.id" [attr.data-order]="k" *ngFor="let team of groupArray[getGroupName(i)] | sortRanking; let k = index">
                        
                    <p class="groupRanking_team">{{team.name}}</p>
                    <p class="groupRanking_points">{{team.points}}</p>
                    <p class="groupRanking_diff"><span *ngIf="team.difference > 0">+</span>{{team.difference}}</p>
                    <span class="flag is-{{getTeamTag(team.id)}}"></span>
                </li>

            </ul>
        </div>
    </div>

</div>