<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="worldcupTitle">
    <span class="moscowChurch"></span>
    <p>World cup<br/>Russia 2018</p>
  </h1>
    <h2 class="worldcupSubtitle">Pronostiquez vos scores ou aidez-vous de notre générateur de tirage aléatoire
        mais réaliste basé sur les côtes de chaque équipe !</h2>

      <div class="navBar">
          <a routerLink="/group" routerLinkActive="active-link">PHASE DE POULES</a>
          <a routerLink="/knockout" routerLinkActive="active-link">PHASE FINALE</a>
          <a class="randomButton" (click)="_worldcupService.randomResult()">Générer un tirage aléatoire</a>
      </div>
        
    <router-outlet></router-outlet>
    


</div>

